body {
    background-image: url(../images/background/dark-grey-terrazzo.png);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    text-align: center;
    margin: 100px auto;
    color: azure;
}

#movie {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    word-spacing: 15px;
    text-align: center;
    color: azure;
    margin-bottom: 20px;
}

#guess {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    word-spacing: 15px;
    text-align: center;
    color: azure;
    margin-bottom: 20px;
}

div #button {
    width: 150px;
    margin: auto;
}

button {
    background-color: rgb(66, 66, 66);
    border: 2px solid rgba(161, 161, 161, 0.767);
    color: azure;
    font-family: 'Playfair Display', serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    border-radius: 15px;
}

.rules h2 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    color: azure;
    text-decoration: underline;
    margin-bottom: 20px;
}

.rules p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    text-align: center;
    color: azure;
    margin-bottom: 10px;
}

